<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR PRO Web</title>


 estilos.css

</head>

<body>

    <div class="contenedor">

        <h1 class="mb-4">
            Generador QR PRO WEB
        </h1>

        <div class="div1">

            <h4>Generar QR</h4>

            <form method="POST">

                <input type="hidden" name="accion" value="texto">

                <input class="form-control" name="contenido" placeholder="Texto o URL">

                <br>

                <button class="btnqr">
                    Generar QR
                </button>

            </form>

        </div>

        <div class="div2">

            <h4>Generar QR WiFi</h4>

            <form method="POST">

                <input type="hidden" name="accion" value="wifi">

                <input class="form-control" name="ssid" placeholder="SSID">

                <br>

                <input class="form-control" name="password" placeholder="Contraseña">

                <br>

                <button class="btnqrwifi">
                    Generar QR WiFi
                </button>

            </form>

        </div>

        {% if qr_generado %}

        <div class="card p-4">

            <h4>QR Generado</h4>

            <img srcenerado }} </div>

            {% endif %}

            <hr>

            <h3>Historial</h3>

            <ul>

                {% for item in historial %}

                <li>{{ item[0] }}</li>

                {% endfor %}

            </ul>

    </div>

</body>

</html>
